.nav-open li ul {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  display: block;
  transform: translateX(0);
}

li {
  position: relative;
}

li .domains-sub-menu-list {
  background-color: #402a23;
  list-style: none;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 65px;
  left: 0;
  width: 129px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;

  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

#sub-link,
#sub-link:link,
#sub-link:visited {
  font-size: 1.5rem;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: #fff4e6d2;
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: #402a23;
  transition: all 0.3s;
  border-radius: 0px;
  padding: 2.35rem 2rem;
}
#sub-link:hover,
#sub-link:active {
  width: 129px;
  background-color: #52413e;
}

/**************************/
/* BELOW 1136px (Landscape Tablets) */
/**************************/

@media (max-width: 71em) {
  html {
    font-size: 56.25%;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 2rem;
  }

  .main-page-description {
    gap: 8rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  li .domains-sub-menu-list {
    top: 58px;
    width: 116px;
  }

  .nav-col {
    padding: 2rem 4.8rem;
  }
}

/**************************/
/* BELOW 1008px  */
/**************************/

@media (max-width: 63em) {
  html {
    font-size: 50%;
  }

  .grid {
    column-gap: 4rem;
    row-gap: 1.5rem;
  }
  .main-nav-list {
    gap: 3rem;
  }
  .main-page-description {
    gap: 8rem;
  }
  li .domains-sub-menu-list {
    top: 51px;
    width: 103px;
  }

  .description {
    padding: 3rem;
  }
  .about-kobi {
    margin: 3rem 0;
  }

  .nav-col {
    padding: 2rem 4rem;
  }
}

/**************************/
/* BELOW 912px  */
/**************************/

@media (max-width: 57em) {
  html {
    font-size: 45%;
  }

  .grid {
    column-gap: 3.5rem;
    row-gap: 1.5rem;
  }
  .main-nav-list {
    gap: 2.5rem;
  }
  .main-page-description {
    gap: 6rem;
  }
  li .domains-sub-menu-list {
    top: 46.5px;
    width: 93px;
  }

  .description {
    padding: 3rem;
  }
  .about-kobi {
    margin: 3rem 0;
    padding: 0 1.5rem;
  }

  .grid-footer {
    padding: 3rem 3.5rem;
  }
  .nav-col {
    padding: 2rem 5rem;
  }
}

/**************************/
/* BELOW 816px  */
/**************************/

@media (max-width: 51em) {
  html {
    font-size: 42%;
  }

  .grid {
    column-gap: 3rem;
    row-gap: 1.2rem;
  }
  .main-nav-list {
    gap: 2.5rem;
  }
  .main-page-description {
    gap: 6rem;
  }
  li .domains-sub-menu-list {
    top: 43.5px;
    width: 86.5px;
  }

  .description {
    padding: 3rem;
  }
  .about-kobi {
    margin: 3rem 0;
    padding: 0 1.5rem;
  }

  .grid-footer {
    padding: 3rem 3rem;
  }
  .nav-col {
    padding: 2rem 6rem;
  }
}

/**************************/
/* BELOW 736  */
/**************************/
/* 
@media (max-width: 46em) {
  html {
    font-size: 38%;
  }

  .grid {
    column-gap: 3rem;
    row-gap: 1.2rem;
  }
  .main-nav-list {
    gap: 2.5rem;
  }
  .main-page-description {
    gap: 6rem;
  }
  li .domains-sub-menu-list {
    top: 39.5px;
    width: 78px;
  }

  .description {
    padding: 4rem;
  }
  .about-kobi {
    margin: 4rem 0;
    padding: 0 1.5rem;
  }

  .grid-footer {
    padding: 3rem 3rem;
  }
  .nav-col {
    padding: 2rem 6rem;
  }
} */

/**************************/
/* BELOW 592  */
/**************************/

/* @media (max-width: 37em) {
  html {
    font-size: 30%;
  }

  .grid {
    column-gap: 5rem;
    row-gap: 1.2rem;
  }
  .main-nav-list {
    gap: 2.5rem;
  }
  .main-page-description {
    gap: 6rem;
  }
  li .domains-sub-menu-list {
    top: 31px;
    width: 62px;
  }

  .description {
    padding: 4rem;
  }
  .about-kobi {
    margin: 4rem 0;
    padding: 0 1.5rem;
  }

  .grid-footer {
    padding: 2rem 3rem;
  }
  .nav-col {
    padding: 2rem 6rem;
  }
} */

/**************************/
/* BELOW 416  (Phones)*/
/**************************/

@media (max-width: 780px) {
  html {
    font-size: 10%;
  }
  .main-header {
    background-color: #fff4e6d2 !important;
  }
  .container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .grid {
    column-gap: 5rem;
    row-gap: 1.2rem;
  }
  .main-nav-list {
    gap: 2em;
  }
  .main-page-description {
    gap: 6rem;
  }
  li .domains-sub-menu-list {
    top: 20.5px;
    width: 41px;
  }

  .description {
    padding: 4rem;
  }
  .about-kobi {
    margin: 4rem 0;
    padding: 0 1.5rem;
  }

  .grid-footer {
    padding: 2rem 3rem;
  }
  .nav-col {
    padding: 2rem 6rem;
  }
}
